<a type="button" class="btn btn-primary mt-3" id="btn-cart">
  Cart
</a>
<div class="cart-modal card hide">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Cras justo odio</li>
  </ul>
</div>
<%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
