<div class="container">
  <%= render 'partials/cart_modal' %>
  <%= render 'partials/search_product' %>
  <%= render 'partials/products_table' %>
  <%= link_to "Back", categories_path(@shop_id), class: "btn btn-secondary"%>
</div>
